<div>
<%= link_to "Ben McKellick", root_path %><br>
<%= link_to "ben.mckellick@gmail.com", about_path %><br>
<%= link_to "June 15th 1978", about_path %><br>
<%= link_to "Milford MA", about_path %><br>
<%= link_to "Pizza", about_path %><br>
<%= link_to "Tropic Thunder", about_path %><br>
<%= link_to "Linkin Park", about_path %><br>
</div>