<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>


  <strong>Notes:</strong>
  <%= @user.notes.each do |note| %>
  	<p><%= note.content %></p>
  <% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
